.unauthorized-container {
  background-color: white;
}

.card-unauthorized {
  width: 320px;
}

.unauthorized-warning-col {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.unauthorized-heading {
  font-size: 25px;
  font-weight: 700;
}
