.mobile-nav{
    a{
        font-size: 1.3rem;
        padding:10px 10px 10px 0;
        color:$gray-600;
        font-weight: 700;
        span{
            padding-left: 20px;
        }
    }
}